# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# Distribution / packaging
*.egg-info/
*.egg
*.whl
dist/
build/

# IDE / Editor files
.vscode/
.idea/
*.iml

# Logs and temporary files
*.log
*.tmp
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Testing / Coverage reports
.tox/
.coverage
htmlcov/
nosetests.xml
pytest_cache/

# Other files to ignore
*.bak
*.swp
*.swo
